.login-wrapper {
  background-color: #063014;
  height: 100%;
  .box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: white;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 250px;
  }
  .mat-card-header {
    justify-content: center;
    margin-bottom: 50px;
  }
  .mat-card-content {
    text-align: center;
  }
  .mat-form-field {
    width: 100%;
    margin-bottom: 28px;
  }
  .mat-stroked-button {
    border-radius: 16px;
    color: white;
    background: #063014;
    font-size: 10px;
    transform: scale(1.5);
  }
  .mat-stroked-button:focus {
    outline: 0 !important;
  }
  .error {
    padding: 16px 0px 16px 0px;
    width: 100%;
    color: white;
    background-color: red;
  }
}

*, ::after, ::before {
  box-sizing: content-box;
}
