.spacer {
    flex: 1 1 auto;
}
.mat-toolbar {
    background-color: #063014;
}
.m-3 {
    margin: 2rem!important;
}
.chart {
    min-height: 350px;
}
h3 {
    color: #03ad9f;
}
.progress_bar {
    margin-bottom: 16px;
}
.mat-card {
    min-height: 140px;
}